<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <meta charset="UTF-8"/>
    <Title>Caderneta</Title>
    <link rel="shortcut icon" type="imagem/x-icon" href="../imagem/iconee.ico"/>
    <link rel="stylesheet" type="text/css" href="../css/cadastro.css"><!-- Conectando o HTML ao CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Roboto:ital,wght@1,500;1,900&display=swap" rel="stylesheet">
    <title>Landing Page</title>
</head>
<head>
    <meta charset="UTF-8">
    <title>Faça seu Login</title>
    <link rel="stylesheet" type="text/css" href="../CSS/cadastro.css"/>
</head>
<body>
    <header>        
        <ul style="margin: auto; font-size: 25px;">
            <a href="index.html"><li>Home</li></a>
            <a href="cadastro.html" id="inscreva-se-btn"><li>Cadastre-se</li></a>
           
        </ul>
    </header>
    <h2>Cadastre-se</h2>
    <main class="container">
        <form action="">
            <div class="input-field"> 
                
                <label> Selecione: </label><br>
                <select id="campo2"  name="tCampo">
                    <option value=""></option>
                    <option value="Cuidador">cuidador</option>
                    <option value="Idoso">Idoso</option>
                </select> 

            </div> 


            <div class="input-field">

                <input type="text" name="username" id="username"

                    placeholder="Digite seu Usuario">

                <div class="underline"></div>

            </div>

            <div class="input-field">

                <input type="text" name="usercpf" id="usercpf"

                    placeholder="Digite seu Cpf">

                <div class="underline"></div>

            </div>

            <div class="input-field">

                <input type="date" name="date" id="date"

                    placeholder="Digite sua data de Nascimento!">

                <div class="underline"></div>

            </div>

            <div class="input-field">

                <input type="password" name="password" id="password"

                    placeholder="Digite sua Senha">

                <div class="underline"></div>

            </div>

            <br>
            
            <div id="campo">
                <button><a href="formulario.html">Enviar</a></button>
            </div>
        
            
        </form>
        

        </div>
    </main>
</body>
</html>